{% extends 'base.html.twig' %}

{% block title %}{{project_name}} | Home{% endblock %}
{% block front_nav_right_section %}{% include 'includes/menu.html.twig' %}{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="row">
            {% for category in categories %}
                <div class="col-md-6">
                    <div class="jumbotron">
                        <div class="col-sm-8">
                            <div class="card-body d-flex flex-column align-items-start">
                                {# <strong class="d-inline-block mb-2 text-primary">World</strong> #}
                                <h3 class="mb-0">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <a class="text-dark" href="{{path('show_category', {id: category.getId()})}}">{{category.getCategoryName()}}</a>
                                {% else %}
                                     <a onclick="alert('Please Register/Login')" class="text-dark" href="{{path('home')}}">{{category.getCategoryName()}}</a>

                                {% endif %}
                                </h3>
                                <div class="mb-1 text-muted">{{category.getCreated()|date(date_format)}}</div>
                                <p class="card-text mb-auto">{{category.getDescription()|striptags|slice(0, 50)}}</p>
                               {# <a href="{{path('show_category', {id: category.getId()})}}">Continue reading</a>#}
                            </div>
                        </div>
                        <div class="col-sm-4"><img data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="max-width: 100%;" src="{{asset('uploads/posts/')}}{{ category.getCategoryThumbnail()}}" data-holder-rendered="true"></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}{% endblock %}
